<ul class="pagination">
    <li ng-show="limitArr.length!==0">
        <select ng-options='limit for limit in limitArr' ng-model="numberPerPage" ng-change="updateLimit()" class="secondary-item no-margin-bottom">
            <option>{{limit}}</option>
        </select>
    </li>
  <li class="arrow" ng-class="{'unavailable': currentPage === 1}">
    <a ng-click="previousPage()">&laquo;</a>
  </li>
  <li ng-hide="hidePageNumber === 'true'" ng-repeat="page in pages"
      ng-class="{'current': page === currentPage}">
    <a ng-click="goTo(page)">{{page}}</a>
  </li>
  <li class="arrow" ng-class="{'unavailable': currentPage === pageNumber}">
    <a ng-click="nextPage()">&raquo;</a>
  </li>
</ul>
