<ul class="pagination">
  <li>
    {{offset + 1}} -
    {{ ((offset + limit) > total) ? total : (offset + limit) }} of {{total}}
  </li>

  <li class="arrow" ng-class="{'unavailable': currentPage === 1}">
    <a ng-click="previousPage()">&laquo;</a>
  </li>
  <li ng-hide="hidePageNumber" ng-repeat="page in pages"
      ng-class="{'current': page === currentPage}">
    <a ng-click="goTo(page)">{{page}}</a>
  </li>
  <li ng-show="showEllipsis"><a>...</a></li>
  <li ng-hide="hidePageNumber" ng-class="{'current': pageNumber === currentPage}">
    <a ng-click="goTo(pageNumber)">{{pageNumber}}</a>
  </li>
  <li class="arrow" ng-class="{'unavailable': currentPage === pageNumber}">
    <a ng-click="nextPage()">&raquo;</a>
  </li>

  <li ng-hide="limits.length === 0">
    <select ng-options="number for number in limits"
            ng-model="limit"
            ng-change="updateLimit()"
            id="number-per-page"
            class="no-margin-bottom">
    </select>
  </li>
  <li ng-hide="limits.length === 0">
    <label for="number-per-page" class="inline no-margin-bottom">
      Per Page
    </label>
  </li>
</ul>
